body{
   
    form{
        display: flex;
        margin-left: auto;
        margin-right: auto ;
        justify-content: center;
        width: 80vw;
        border: 2px solid black;

            h2{
                display: block;
                text-align: center;
                margin-top: 2rem;
            }

            .main_form {
            display: flex;
            flex-direction: column;
            
            }

            input{
                padding-top: 8px;
                margin-top: 5px;
                margin-bottom: 5px;
            };


    }

}

.table_products{
    border: 2px solid black;
    width: 60%;

    tr{
        th{
            border: 2px solid black;
        }
        td{
            border: 2px solid black;
            white-space: normal;
            width: 100%;
        }
        #products_description{
            text-align: left;
        }
    }
}